.not-found-page {

    min-height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #f8fafc;
}

.not-found-card {

    background: white;

    padding: 50px;

    border-radius: 16px;

    text-align: center;

    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.not-found-card h1 {

    font-size: 100px;

    color: #2563eb;

    margin-bottom: 10px;
}

.not-found-card h2 {

    margin-bottom: 15px;

    color: #1e293b;
}

.not-found-card p {

    color: #64748b;

    margin-bottom: 25px;
}

.home-btn {

    display: inline-block;

    padding: 12px 20px;

    background-color: #2563eb;

    color: white;

    text-decoration: none;

    border-radius: 8px;

    transition: 0.2s;
}

.home-btn:hover {

    background-color: #1d4ed8;
}